<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
  <a class="navbar-brand" href="#">
    <img src="./assets/images/logo-header.png" class="img-fluid w-25 mw-25" alt="logo effusis">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Soporte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Perfil</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success py-1 my-sm-0" type="submit">Buscar</button>
    </form>
    <button class="btn btn-outline-danger py-1 ml-2" (click)="salir()">Salir</button>
  </div>
</nav>